@font-face {
  font-family: 'minecraftiaregular';
  src: url("../assets/fonts/minecraftia/minecraftia2-webfont.eot");
  src: url("../assets/fonts/minecraftia/minecraftia2-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/minecraftia/minecraftia2-webfont.woff") format("woff"), url("../assets/fonts/minecraftia/minecraftia2-webfont.ttf") format("truetype"), url("../assets/fonts/minecraftia/minecraftia2-webfont.svg#minecraftiaregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.reveal {
  font-weight: 900 !important; }

blockquote {
  color: #99B8CC;
  font-size: 1.5em !important;
  line-height: 1.1 !important;
  width: 100% !important; }

.left-block {
  width: 100%;
  height: 450%;
  position: absolute;
  top: -160%;
  left: -45%;
  z-index: -1; }
  .left-block.color-belizehole {
    background-color: #2980b9; }
  .left-block.color-midnightblue {
    background-color: #2c3e50; }
  .left-block.small {
    width: 77%; }

.list-inline li {
  display: inline;
  list-style-type: none; }

.row .left-content {
  width: 50%;
  display: inline-block;
  margin-right: 5%;
  vertical-align: top;
  text-align: right; }
  .row .left-content.small {
    width: 20%; }
  .row .left-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: right; }
.row .right-content {
  width: 40%;
  display: inline-block;
  text-align: left; }
  .row .right-content.big {
    width: 60%; }
  .row .right-content pre {
    margin: 0;
    box-shadow: none;
    width: 120%; }
    .row .right-content pre code {
      font-size: 1.6em;
      width: inherit;
      line-height: 1.3;
      max-height: none; }
  .row .right-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left; }

.arrow:before {
  content: "";
  position: absolute;
  right: 7px;
  top: 20px;
  width: 0;
  height: 0;
  border-left: 20px solid #c8cdcf;
  border-right: 20px solid transparent;
  border-top: 20px solid transparent; }

.calculadora {
  height: 960px;
  width: 90%;
  padding: 25px !important;
  background: #e3e6e7;
  display: block;
  box-shadow: 20px 19px #c8cdcf; }
  .calculadora .tela textarea {
    box-shadow: inset 5px 5px #c8cdcf;
    border: 2px solid #A1A3A5;
    color: #ecf0f1;
    background: none repeat scroll 0% 0% #000;
    font-family: 'minecraftiaregular';
    width: 90%;
    font-size: 87px;
    line-height: 1.467;
    padding: 8px 12px;
    height: 292px;
    text-align: right;
    box-shadow: none;
    outline: medium none;
    text-transform: uppercase; }
  .calculadora .keypad {
    margin-top: 50px; }
    .calculadora .keypad ul {
      margin: 0; }
    .calculadora .keypad li {
      display: inline;
      list-style-type: none; }
    .calculadora .keypad button {
      margin-bottom: 30px;
      width: 191px;
      height: 191px;
      text-decoration: none;
      cursor: pointer;
      border: none;
      background-color: #e67e22;
      font-size: 50px;
      outline: none;
      color: white; }
      .calculadora .keypad button.clicado, .calculadora .keypad button:active {
        background-color: #924d10; }
      .calculadora .keypad button.esp1 {
        background-color: #7f8c8d; }
        .calculadora .keypad button.esp1.clicado, .calculadora .keypad button.esp1:active {
          background-color: #4e5758; }
      .calculadora .keypad button.esp2 {
        background-color: #2980b9; }
        .calculadora .keypad button.esp2.clicado, .calculadora .keypad button.esp2:active {
          background-color: #164666; }

#link-contribuir {
  font-size: 2em;
  width: 100%;
  background: none repeat scroll 0% 0% #FFF;
  display: block;
  margin-top: 30px;
  padding: 30px; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #34495e;
  background-color: #34495e; }

.reveal {
  font-family: "Lato", sans-serif;
  font-size: 36px;
  font-weight: normal;
  letter-spacing: -0.02em;
  color: #eeeeee; }

::selection {
  color: white;
  background: #ff5e99;
  text-shadow: none; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #eeeeee;
  font-family: "Helvetica", "Helvetica Neue";
  line-height: 0.9em;
  letter-spacing: 0.02em;
  text-transform: none;
  text-shadow: none !important; }

.reveal h1 {
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); }

/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #2980b9;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:not(.image):hover {
  color: #6ab0de;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #1b557a; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #eeeeee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #2980b9;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #2980b9; }

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #2980b9; }

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #2980b9; }

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #2980b9; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #6ab0de; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #6ab0de; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #6ab0de; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #6ab0de; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #2980b9;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * SLIDE NUMBER
 *********************************************/
.reveal .slide-number {
  color: #2980b9; }
